.product-item {
  width: 250px;
  height: 350px;
  margin: 30px 20px;
  box-shadow: rgb(164, 164, 164) 0px 0px 25px 5px;
  border-radius: 10px;
  padding: 20px 10px;
  cursor: pointer;
}

.product-item > * {
  margin-top: 5px;
}
.product-img img {
  width: 230px;
  height: 250px;
}
